_site/
.secret
.sass-cache/
.jekyll-metadata
.jekyll-cache/
Gemfile.lock
posts.sh
start.sh
def_posts

*.log
*.tmp
*.swp
*.DS_Store
*.bak
*.pid
*.seed
*.old

.DS_Store
.Trashes
.AppleDouble
._*
vendor/bundle/
.bundle/
/.github/
.vscode/
.idea/
*.iml

